{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>

    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    

    <script src="{% static 'js/bootstrapjqurey.js' %}"></script>
    <script src="{% static 'js/proper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        .height{
            min-height: 100vh;
        }
        .fillbackground{
            background: url("{% static 'images/maincover8.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: fixed;
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
            overflow-x: hidden;
        }
        .indent{
            text-indent: 80px;
        }
    </style>
</head>
<body>
    <!--Header Start Here-->
    <header>
        <!-- Navbar Start here -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="" class="navbar navbar-brand">ToDo Application<small class="text-white" style="display:block;">Design your day</small></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#NAVBAR">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="NAVBAR">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a href="{% url 'home_page' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{% url 'mytodos_page' %}" class="nav-link">MyToDo's</a></li>
                        <li class="nav-item"><a href="{% url 'contact_page' %}" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="{% url 'about_page' %}" class="nav-link active">About</a></li>
                        <li class="nav-item"><a href="{% url 'donate_page' %}" class="nav-link">Donate</a></li>
                        <li class="nav-item"><a href="https://paypal.me/IPCPRO" target="blank" class="nav-link">Donate Paypal</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link active">Not {{user.username}}? Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                        {% endif %} 
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar end here -->
    </header>
    <!--Header End Here-->

    <section class="fillbackground">
        <div class="container my-5">
            <h1 class="text-white">About</h1>
        </div>
    </section>
    <section class="my-5">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1 class="h2">About ToDoApplication</h1>
                            <p class="text-justify lead text-monospace indent my-5">
                                    ToDoApplication is a simple Django Application Developed By <a href="https://www.linkedin.com/in/poorna-chand-902642177/">Poorna Chand(@me)</a>  in the year of 2019. This Application serves with the basic features that a Simple ToDo App need.  Personally, I use most of the ToDo Apps throughout my day to organize things.

                            </p>
                            <p class="text-justify lead text-monospace indent my-5">
                                    At the time of developing this Django App(ToDoApplication), I have been learning Django web framework for a week. I strongly believe in the statement "The best way to learn something is by doing." So to learn the working of Django I just want to mimic the ToDo App Feature as it could help me in understanding the working environment of Django.

                                </p>     
                                    
                                <p class="text-justify lead text-monospace indent my-5">
                                    The time taken for me to build this application was about 14 Hours(worked around 6 Hours a day)-quite long duration, Right? I have been working since 4 Years in Back-End-Development. As I am not good at Front-End-Development, it took me a long duration to come up with a simple UI that I have presented to you as ToDoApplication. Hope you all like it.
                                </p>
                        </div>
                        <div class="col-lg-4 justify-content-center">
                            <img src="{% static 'images/mypic.jpg' %}" alt="" height="400px" width="400px" class="rounded">
                            <label for="" class="h3 text-center w-100 my-4">Poorna Chand</label>
                        </div>
                    </div>
                </div>
    </section>
    <footer class="page-footer bg-dark text-white">
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="https://www.linkedin.com/in/poorna-chand-902642177/" target="blank" class="text-white"> Poorna Chand</a>
            </div>
    </footer>
</body>
</html>