{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Todo's</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    

    <script src="{% static 'js/bootstrapjqurey.js' %}"></script>
    <script src="{% static 'js/proper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <style>
        .height{
            min-height: 100vh;
        }
        .fillbackground{
            background: url("{% static 'images/maincover8.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: fixed;
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
            overflow-x: hidden;
        }
        .applytransparent{
            background: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>
<body class="height fillbackground">
    <!--Header Start Here-->
    <header>
        <!-- Navbar Start here -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="" class="navbar navbar-brand">ToDo Application<small class="text-white" style="display:block;">Design your day</small></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#NAVBAR">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="NAVBAR">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a href="{% url 'home_page' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{% url 'mytodos_page' %}" class="nav-link">MyToDo's</a></li>
                        <li class="nav-item"><a href="{% url 'contact_page' %}" class="nav-link">Contact</a></li>
                        <li class="nav-item"><a href="{% url 'about_page' %}" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="{% url 'donate_page' %}" class="nav-link">Donate</a></li>
                        <li class="nav-item"><a href="https://paypal.me/IPCPRO" target="blank" class="nav-link">Donate Paypal</a></li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link active">Profile</a></li>
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link active">Not {{user.username}}? Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar end here -->
    </header>
    <section>
            <div class="row my-5">
                <div class="col-lg-3 col-1"></div>
                <div class="col-lg-6 col-10 rounded applytransparent py-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="text-center ">Profile</h1>
                        </div>
                    </div>
                    <div class="row pl-5 pb-5">
                        <div class="col-lg-12 my-2">
                            <label for="" > Logged in as {{user.username}} </label>
                            <label for="" class="float-right mr-5">Last Login : {{user.last_login}}</label>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 ml-5 float-right">UserName</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="" id="" class="form-control" value="{{user.username}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 ml-5 float-right">Email</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="" id="" class="form-control" value="{{user.email}}" readonly>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 ml-3 float-right">Joined On</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="" id="" class="form-control" value="{{user.date_joined}}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 ml-0 float-right">Account Status</h3>
                                </div>
                                <div class="col-lg-6">
                                    {% if user.is_active %}
                                        <input type="text" name="" id="" class="form-control" value="Active" readonly>
                                    {% else %}
                                        <input type="text" name="" id="" class="form-control" value="Not Active" readonly>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 ml-0 float-right">Role</h3>
                                </div>
                                <div class="col-lg-6">
                                    {% if user.is_superuser %}
                                        <input type="text" name="" id="" class="form-control" value="Superuser" readonly>
                                    {% elif user.is_staff %}
                                        <input type="text" name="" id="" class="form-control" value="Staff" readonly>
                                    {% else %}
                                        <input type="text" name="" id="" class="form-control" value="Subscriber" readonly>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 float-right">First Name</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="" id="" class="form-control" value="{{user.first_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 float-right">Last Name</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" name="" id="" class="form-control" value="{{user.last_name}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 float-right">New Password</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="password" name="" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h3 class="lead mt-2 float-right">Confirm</h3>
                                </div>
                                <div class="col-lg-6">
                                    <input type="password" name="" id="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-2">
                            <button class="float-right btn btn-success mr-5 disabled">Update</button>
                            <label for="" class="float-right mt-2 mr-3 text-danger">Update feature temporarly unavaliable</label>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-3 col-1"></div>
            </div>
        </section>
        <footer class="page-footer bg-dark text-white">
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                        <a href="https://www.linkedin.com/in/poorna-chand-902642177/" target="blank" class="text-white"> Poorna Chand</a>
                </div>
        </footer>
</body>
</html>